---
---

.site-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://ecomplab.com/images/background_dalle.jpg'); /* Adjust the path as needed */
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the background fixed while scrolling */
    z-index: -1; /* Ensure it's behind all other content */
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

